.section{
  width: 100%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  position: relative;
}
.centrado{
	text-align: center;

}
.article{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
}
