.elnav{
	width: 100%;
	height: 100px;
	/*background-image: url('/images/fondis.png');*/
  	background-size: cover;
  	background-position: center;
  	padding-top:10px;
  	padding-left: 50px;
  	color:white;
}

.elnav span{
	margin-left: 50px;
	font-size: 2rem;
}

@media (max-height: 600px){
.elnav span{
	font-size: 1rem;
}
}

.elnav a{
	color: white;
}
.papa{
	position: relative;
}
#papa{
	width: 50px;
	height: 50px;
	margin-right: 50px;
}
.mini-menu{
	position: absolute;
	bottom:-50;
	left: 0;
	background-color: black;
	list-style: none;
	font-size: 1.2rem;
	color: grey;
	padding: 10px;
	z-index: 9999;

}
.hambu{
	display: none;
	position: absolute;
	left: 0;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	font-size: 4rem;
}
#botons{
		display: block;
		}
@media (max-width: 590px){
	#botons{
		display: none;
		margin: 0;
		padding: 0;
		margin-top: 20px;


	}
	#botons span{
		margin: 0;
		padding:0;


	}
	#botons span a, button{
		width: 100%;
		margin-top: 5px;
		height: 40px;


	}
	.elnav{
		padding-top:0;
  		padding-left:0;
		text-align: center;
		margin-bottom: 150px;
		
	}
	.elnav span{
		display: block;
	}
	.elnav a{
		text-align: center;
		margin: 0 auto;
	}
	.hambu{
		display: block;
	}
}

