<<<<<<< HEAD
=======
.patrocinadr{
	position: relative;
	z-index: 999;
}
.patrocinador .btn-default {
    color: #000;
    background-color: #fff;
    border-color: #ccc;
    
}
>>>>>>> 3ba0f9d87d1a8a9b4f2a155a1588a46b36f7c3a6
