@import "_nav.css";
@import "_landing.css";
@import "_profile.css";

@import "_patrocinador.css";

@import "_footer.css";
@import "santa.css";


html, body, section, h1, div{
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Bree Serif', serif;

}
body{
	min-height: 100vh;
}
#particles-js{
	position: absolute;
	top: 64px;
	width: 100%;
	z-index: 0;
}
.body{
	position: relative;
}



