@import "_nav.css";
@import "_landing.css";
@import "_profile.css";
@import "_bases.css";

html, body, section, h1, div{
  margin: 0;
  padding: 0;
  color: black;
}
<<<<<<< HEAD
=======
#particles-js{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.arriba{
	z-index: 999;
}


>>>>>>> 935c13704f1de7c09e94f98347965d8b0d7029fb
