<section class="section">

<article class="article centrado">


    <h2 style="text-align:center">
        "Un Hackatón solo para pasarla bien"
    </h2>
    <h4>
    	Ven y diviertete con nosotros el 17 de Diciembre en Pachuca. <br> <br>
		Arma tu equipo de 5 personas o encuentra tu equipo aquí mismo.
	</h4>
	<h5>
		Entra con Facebook
	</h5>	
	<button ng-click="logIn()" ng-hide="user" class="btn btn-primary">
		<i class="fa fa-facebook-square" aria-hidden="true"></i>
		Facebook
	</button>
	<button ng-click="logOut()" ng-show="user" class="arriba btn btn-primary">
		<i class="fa fa-facebook-square" aria-hidden="true"></i>
		Cerrar Sesión
	</button>



</article>
<div class="footer">
</div>
</section>


    <!-- Google Maps -->