<section class="section">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
<article>
    <h2 style="text-align:center">
        Our hackathons and global community maximize the fun you can have while changing the world, together with 97,000 others. Compete to build, test and launch your amazing idea to the world and get kudos, cash and maybe even a crown.
    </h2>

</article>
</section>

    <!-- Google Maps -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCApLfTHnODeHoMg2KIbr2jrxhDl4dPLGg&callback=initMap">
    </script>
<script type="text/javascript">

var map;
function initMap() {
  var myLatLng = {lat: 20.1342465, lng: -98.8016812};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 16,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'LoL'
  });
}

    </script>