<section class="section">

    <article class="article centrado">


    <h1 style="text-align:center;color:orange">
        "Un Hackatón solo para pasarla bien"
    </h1>
        <br>
        <h1>HACKER: ES UNA PERSONA QUE DISFRUTA EXPLORAR LOS LIMITES DE LO POSIBLE POR MERA CURIOSIDAD INTELECTUAL</h1>
        <h1>\(O-o)/</h1>
        <br><br><br>
        <h4>
    	Ven y diviertete con nosotros el <span style="color:orange; font-size:2rem">17 de Diciembre</span> en Pachuca. <br> <br>
		Arma tu equipo de 5 personas o encuentra tu equipo aquí mismo.
	</h4>
        <br>
        <br>
        <h2>
		¡ENTRADA LIBRE!
	</h2>

    <hr>
    <div class="row">

    	<h3>Equipos Registrados al momento</h3>
    	<div ng-repeat="clan in clanes">
       		<div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <h3>{{clan.$id}}</h3>
                    <hr>

                    <img data-toggle="tooltip" data-placement="top" title="{{clan.miembros[0].displayName}}"  src="{{clan.miembros[0].photoURL}}" >

                    <br>
                    <div class="container-fluid">
                        <div class="row">
                        <div class="col-xs-6 col-md-3">
                        
                          <img data-toggle="tooltip" data-placement="top" title="{{clan.miembros[1].displayName}}"  src="{{clan.miembros[1].photoURL}}" alt="">
                        
                        </div>
                        <div class="col-xs-6 col-md-3">
                        
                          <img data-toggle="tooltip" data-placement="top" title="{{clan.miembros[2].displayName}}"  src="{{clan.miembros[2].photoURL}}" alt="">
                        
                        </div>
                        <div class="col-xs-6 col-md-3">
                        
                          <img data-toggle="tooltip" data-placement="top" title="{{clan.miembros[3].displayName}}"  src="{{clan.miembros[3].photoURL}}" alt="">
                        
                        </div>
                        <div class="col-xs-6 col-md-3">
                        
                          <img data-toggle="tooltip" data-placement="top" title="{{clan.miembros[4].displayName}}"  src="{{clan.miembros[4].photoURL}}" alt="">
                        
                        </div>
                    </div>  
                    </div>                
                </div>
            </div>
    	</div>
            
    </div>

    </article>

</section>
<script>
    $("#particles-js").css("z-index", "999");
</script>


<!-- Google Maps -->
