<h1>Hola mama</h1>


<!--<p style='	margin-top:10px; font-family: 'Raleway', sans-serif;' >Estimado </p>
	<p style='	margin-top:10px; font-family: 'Raleway', sans-serif;'>En vísperas de las celebraciones navideñas el equipo de Fixter ha organizado el Hackaton Navideño, a celebrarse el día 17 de Diciembre del 2016 en nuestras instalaciones ubicadas en el Parque Científico y Tecnológico del estado de Hidalgo, a las 11:00 am, el cual tiene como objetivo la convivencia de estudiantes, profesionistas y público en general con conocimientos tecnológicos. El evento tiene prevista la participación de mas de 60 asistentes, en donde la competencia consiste en retos de programación y retos adicionales.</p>
	<p style='	margin-top:10px; font-family: 'Raleway', sans-serif;'>
	Me dirijo a usted como parte de la comunidad empresarial del estado de Hidalgo, para invitarlo a ser parte de nuestra mesa de patrocinadores. </p>
	<p style='	margin-top:10px; font-family: 'Raleway', sans-serif;'>
	Destacando que la intención de este ocurso es en primera instancia invitarlo a asistir al evento y posteriormente el solicitarle su patrocinamiento el cual puede otorgarse de forma económica o por medio de premios de cualquier indole para los ganadores del evento. </p>
	<p style='	margin-top:10px; font-family: 'Raleway', sans-serif;'>
	De aceptar nuestra petición para ser patrocinador del evento, el nombre de su empresa estará en todas las lonas, publicidad digital, videos transmitidos durante el evento, en los banners que se utilizarán de fondo para las entrevistas, y también menciones durante la apertura y premiación, en función del kit de patrocinio que sea de su preferencia, lo que le permitirá publicitarse en distintos medios impresos y digitales. </p>
	<p style='	margin-top:10px; font-family: 'Raleway', sans-serif;'>
	Los paquetes de patrocinio parten de los $1,000.00 hasta $10,000.00 pesos.
	</p>
	<p style='	margin-top:10px; font-family: 'Raleway', sans-serif;'>
	Esperando poder contar con su participación y pronta respuesta.</p>
	<p style='	margin-top:10px; font-family: 'Raleway', sans-serif;'>
	Agradezco de antemano su tiempo, reiterando que aunque la invitacion no sea aceptada esperamos contar con su presencia. 
	</p>
	<p style='	margin-top:10px; font-family: 'Raleway', sans-serif;'>
		Atte. Fixter
	</p>-->