    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.fixter.camp/">Fixter</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="button_patrocinio"><a href="#!">¿Quieres patrocinar?</a></li>
                    <li><a href="#">Info</a></li>
                </ul>
                <div class="pull-right" ng-show="user">
                        <span>{{user.displayName}}</span>
                        <a href="#/profile">
                        <img width="50px" style="border-radius:50%" src="{{user.photoURL}}">
                        </a>
                        <button ng-click="logOut()" class="btn btn-danger">Cerrar Sesión</button>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            </nav>
    </header>