    <header>
        <nav class="elnav">
           
           <div class="pull-left">
                <img width="100" src="/images/geeki_navida.png">
                <span>
                    <a class="btn btn-info" href="">
                    ¿Quieres Patrocinar?
                    </a>
                </span>
                <span>
                    <a class="btn btn-warning" href="">
                    Bases del hackatón
                    </a>
                </span>
                <span ng-hide="user">
                    <button ng-click="logIn()" class="btn btn-danger">Iniciar Sesión</button>
                </span>
            </div>

                
                
                        <span class="pull-right">
                        <a ng-click="menusito()" href>
                            <div class="papa">
                        <img id="papa" width="100" style="border-radius:50%" src="{{user.photoURL}}">
                        </a>
                            <ul class="mini-menu" style="display:none">
                                <li>perfil</li>
                                <li>Pollollon</li>
                                <li>Cerrar sesión</li>
                            </ul>
                            </div>
                        
                        </span>
                        
                
                
            
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            </nav>
    </header>