<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<img src="/images/gatos4.png" width="200" height="200" align="right">
<br>
<div id="wrapper">
    <br />
    <strong><h1 align="center">BASES</h1></strong>
    <br>
    <strong><font size=5 font-family="Raleway">¿Qué es y en qué consiste el Hackatón Navideño?</FONT></strong>
    <br>
    <font size=4 font-family="Raleway">El Hackatón Navideño es un concurso cuya finalidad es promover la verdadera actitud hacker.
    El objetivo de esté es que los equipos participantes avancen en los desafios para demostrar sus conociemientos.</FONT>
    <br>
    <font size=4 font-family="Raleway">Divertirte, aprender y reafirmar tus conocimientos, trabajando sobre la idea,
    desarrollando tu creatividad e ingenio para superar multiples retos.</FONT>
    <br>
    <font size=4 font-family="Raleway">El objetivo es aprender a trabajar en equipo realizando diversas tareas. El hackatón
    consiste en que mejoren su colaboración o estrategia y añadan un nueva funcionalidad a su vida.</FONT>
    <br></br>
    <strong><font size=5 font-family="Raleway">¿Quién puede participar?</FONT></strong>
    <br>
    <font size=4 font-family="Raleway">Puede participar todo el público, tanto a profesionales emprendedores como a
    universitarios. El perfil de las personas participantes es abierto, pudiendo ser perfiles técnicos, de
    negocio, de marketing, de comunicación, de ingeniería, de diseño e incluso jugar videojuegos te hara ganar puntos \(*-*)/.
    </FONT>
    <br>
    <font size=4 font-family="Raleway">Aquellos participantes que no cuenten con la ayuda de técnicos (programadores) podrán
    disponer de otro tipo de talento o habilidad. Se aceptarán un máximo de 5 personas por cada equipo.</FONT>
    <br></br>
    <strong><font size=5 font-family="Raleway">¿Cuándo se celebra?</FONT></strong>
    <br>
    <font size=4 font-family="Raleway" >El Hackatón se celebra en las oficinas de Fixter dentro del Parque Científico y Tecnólogico
    del Estado de Hidalgo los días sábado 17 y domingo 18 de Diciembre.</FONT>
    <br></br>
    <strong><font size=5 font-family="Raleway">¿Cuánto cuesta?</FONT></strong>
    <br>
    <font size=4 font-family="Raleway">Este Hackatón <font color="red">IS FREE, KOSTENLOS, 무료, C'EST GRATUIT, ES GRATIS
    "MATHAHACKER"</font> asi que INSCRIBETE, ¿Qué estas esperando? No te quedes fuera, diversión garantizada, ambiente apto
    para todo tipo de programadores, asi que ven te esperamos \(*u*)/.</FONT>
    <br>
    <h3><strong><font color="red">NOTA: Recuerda traer cobijas, almuadas o slippin (bolsa para dormir), casa de campaña (opcional)
    y mameluco x_x</font></strong></h3>
</div>
<br>
<img src="/images/gato2.png" width="200" height="200" align="left">
