<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<img src="/images/gatos4.png" width="200" height="200" align="right">
<br>
<div id="wrapper">
    <br />
    <strong><h1 align="center">BASES</h1></strong>
    <br>
    <strong><font size=5 font-family="Dosis">¿Qué es y en qué consiste el Hackatón Navideño?</FONT></strong>
    <br>
    <font size=4 font-family="Dosis">El Hackatón Navideño es un concurso cuya finalidad es promover la verdadera actitud hacker.
    El objetivo del concurso es que los equipos participantes avancen en los desafios para demostrar sus conociemientos.</FONT>
    <br>
    <font size=4 font-family="Dosis">Consiste en divertirte, aprender y reafirmar tus conocimientos, trabajando sobre la idea,
    desarrollando tu creatividad e ingenio para resolver multiples retos.</FONT>
    <br>
    <font size=4 font-family="Dosis">El objetivo es aprender a trabajar en equipo para llegar a realizar multiples tareas y
    guiarles en el camino. El concurso consiste en que mejoren su colaboración o estrategia y añadan un nueva funcionalidad
    a su vida.</FONT>
    <br></br>
    <strong><font size=5 font-family="Dosis">¿Quién puede participar?</FONT></strong>
    <br>
    <font size=4 font-family="Dosis">El concurso está dirigido a todo el público, tanto a profesionales emprendedores como a
    emprendedores y universitarios. El perfil de las personas participantes es abierto, pudiendo ser perfiles técnicos, de
    negocio, de marketing, de comunicación, de ingeniería, de diseño e incluso jugar videojuegos te hara ganar puntos \(*-*)/.</FONT>
    <br></br>
    <font size=4 font-family="Dosis">Aquellos participantes que no cuenten con la ayuda de técnicos (programadores) podrán
    disponer de otro tipo de talento o habilidad. Se aceptarán un máximo de 5 personas por cada equipo. No se aceptarán más de
    5 personas en ningún caso por motivos de espacio.</FONT>
    <br>
    <strong><font size=5 font-family="Dosis">¿Cuándo se celebra?</FONT></strong>
    <br>
    <font size=4 font-family="Dosis" >El Hackathon se celebra dentro del CITNOVA los días sábado 17 y domingo 18 de
    Diciembre.</FONT>
</div>
<br>
<img src="/images/gato2.png" width="200" height="200" align="left">
<img src="/images/gato3.png" width="200" height="200" align="right">
